# Dependencies
node_modules/

# Environment files
.env
.env.*
.env.example
.env.example.*

# Local Documentation & Deploy Configs
IMPLEMENTATION_SUMMARY.md
README.md
capacitor.config.json
docker-compose.override.yml
render.yaml

# Build & Logs
dist/
*.log
.vercel/

# OS
.DS_Store
Thumbs.db
