# Dependencies
node_modules/

# Environment files
.env
.env.*
.env.example
.env.example.*

# Audit and Config files
*-audit*.json
jest.config.js
render.yaml
render.yml

# Logs
*.log

# OS
.DS_Store
Thumbs.db
